<h1>Hotels</h1>

<% @hotels.each do |hotel| %>
  <div class="small-12 columns">
    <hr />
    <div class="row">
      <div class="small-3 columns">
        <%= image_tag hotel.image %>
      </div>
      <div class="small-9 columns">
        <p>Name: <%= link_to hotel.name, hotel %></p>
        <p>Description: <%= hotel.description %></p>
      </div>
    </div>
  </div>
<% end %>

<% if !current_user.nil? %>
  <%= link_to 'Add new hotel', new_hotel_path %>
<% end %>
